<h1><%= t(".title") %></h1>

<p>
  Stay #<%= @stay.id %> (<%= @stay.start_on %> 〜 <%= @stay.end_on %>)
  <%= link_to t(".back"), stay_checkins_path(@stay), class: "btn" %>
</p>

<%= render "form", checkin: @checkin %>
