<h1>Checkin 新規作成</h1>

<p>
  Stay #<%= @stay.id %> (<%= @stay.start_on %> 〜 <%= @stay.end_on %>)
  <%= link_to "一覧へ戻る", stay_checkins_path(@stay), class: "btn" %>
</p>

<%= render "form", checkin: @checkin %>

