<!DOCTYPE html>
<html>
  <head>
    <title>Nekostay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="padding:8px 12px; background:#f7f7f7; margin-bottom:12px;">
    <%= link_to "Stays", stays_path %>
   </nav>
    <div class="container">
      <% if notice.present? %>
        <p class="flash flash--notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="flash flash--alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
