<!DOCTYPE html>
<html>
  <head>
    <title>Nekostay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <!-- フラッシュメッセージ -->
    <% if notice.present? %>
      <p style="color: #155724; background:#d4edda; padding:6px 10px;"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p style="color: #721c24; background:#f8d7da; padding:6px 10px;"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>

